<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">

<!--Import Google Icon Font-->
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
	rel="stylesheet">
<!-- Compiled and minified CSS -->
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">


<title>Insert title here</title>
</head>
<body>
	<a class="waves-effect waves-light btn-small" href="/cadastropessoa"><i
		class="material-icons right">person</i>Cadastro Pessoa</a>

	<div th:each="m : ${mensagens}">
		<span class="waves-effect waves-light btn modal-trigger" th:text="${m}"></span>
	</div>
	<br />

	<div align="center">
		<h3>Cadastro de Telefones</h3>
	</div>

	<div th:each="p : ${pessoacampo}" style="width: 90%" align="center">
		<div class="row">
			<div class="input-field col s3">
				<i class="material-icons prefix">perm_identity</i>
			</div>
			<div class="input-field col s3">
				<label th:text="${p.id}"
					style="font-weight: bold; font-size: 20px" />
			</div>
			<div class="input-field col s3">
				<i class="material-icons prefix">person</i>
			</div>
			<div class="input-field col s3">
				<label th:text="${p.nome}"
					style="font-weight: bold; font-size: 20px" />
			</div>
		</div>
	</div>

	<br />
	<h5 align="center">Cadastro de Telefone</h5>
	<br />

	<form th:action="@{/addFone/{pessoaid}(pessoaid=${pessoacampo.id})}"
		method="post" style="width: 90%" id="formfone"
		th:object="${campotelefone}" onsubmit="return validarCampos()? true : false">

		<input type="hidden" name="id">

		<div class="row">
			<div class="input-field col s6">
				<i class="material-icons prefix">contact_phone</i> <input
					name="numero" id="numero" type="text" class="validate"> <label
					for="numero">Número de telefone</label>
			</div>
			<div class="input-field col s6">
				<i class="material-icons prefix">launch</i> <input name="tipo"
					id="tipo" type="text" class="validate"> <label for="tipo">Tipo
					do telefone</label>
			</div>
		</div>
		<div align="center">
			<input type="submit" value="Salvar"
				class="waves-effect waves-light btn" style="width: 20%"> </input>
		</div>

	</form>

	<br />

	<div align="center">
		<table th:cellspacing="10" class="highlight" style="width: 70%">
			<thead>
				<tr>
					<th>Id</th>
					<th>Numero</th>
					<th>Tipo</th>
					<th>Nome do Usuário</th>
					<th>Editar</th>
					<th>Excluir</th>
				</tr>

			</thead>
			<tr th:each="fone : ${telefones}">
				<td th:text="${fone.id}"></td>
				<td th:text="${fone.numero}"></td>
				<td th:text="${fone.tipo}"></td>
				<td th:text="${fone.pessoa.nome}"></td>
				<td></td>
				<td><a th:href="@{/excluirFone/{foneid}(foneid=${fone.id})}">Excluir</a>
				</td>
			</tr>
		</table>
	</div>





<!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
            
	
	<script type="text/javascript">
	
	function validarCampos(){
		numero = document.getElementById('numero').value;
		tipo = document.getElementById('tipo').value;
		
		if(numero === ''){
			alert('Informe o Número');
			return false;			
		} else if(tipo === ''){
			alert('Informe o tipo');
			return false;
		}
		return true;
	}
	
	</script>
	
</body>
</html>